/Library
[Tt]emp/
[Oo]bj/
[Uu]serSettings/
[Ll]ogs/

Assets/StreamingAssets/
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.meta

Bundles/
/Build
/Players
MemoryCaptures/
Assets/BundleResource/LuaScripts
Assets/BundleResource/LuaScripts.meta

/*.csproj
/*.sln
/*.user
/*.cache
/*.vs
/*.DotSettings

.idea/
JetBrains/
JetBrains.meta
.vscode

*.log

Assets/_LocalConfig
Assets/_LocalConfig.meta

AssetBundles/

.cache/